/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

h3 {
    margin: 0;
}

a {
    color: #EF233C;
}

a:hover {
    text-decoration: none;
}

.btn {
    text-decoration: none;
    background: #EF233C;
    color: white;
    padding: 10px;
    display: inline-block;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}

.col-narrow {
    width: 30%;
    float: left;
}

.col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.job-description {
    margin-bottom: 25px;
}

.job-description p:first-of-type {
    margin-top: 0;
}

p + h3 {
    margin-top: 25px;
}

/* Header and Footer
-------------------------*/
header, footer {
    background: #2B2D42;
    color: #8D99AE;
}

/* header */
header {
    padding-top: 50px;
    position: relative;
}

header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
}

.profile-img {
    border-radius: 50%;
}

/* footer */
footer {
    text-align: center;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
    background-color: whitesmoke;
    color: blueviolet;
    border-radius: 25px;
    text-decoration: none;
}

i.fa, i.fab, i.fas {
    margin: 15px;
    size: 50px;
    font-size: 2em;
    text-shadow: 1px 1px 1px #ccc;
    vertical-align: top;

}

nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    display: inline-block;
    font-weight: 700;
}

.background {
    background-image: url('https://bsatsmc.org/wp-content/uploads/revslider/slider_2/6.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.copyright {
    display: inline-block;
    margin: 20px;
    text-shadow: 1px 1px 1px #ccc;
    vertical-align: top;
}

/* Work Experience
-------------------------*/
.work {
    background: #EDF2F4;
}

h3 ~ p {
    margin: 0;
}

/* Education
-------------------------*/
.education {
    background: #8D99AE;
}
