/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

h3 {
    margin: 0;
}

a {
    color: #EF233C;
}

a:hover {
    text-decoration: none;
}

.btn {
    text-decoration: none;
    background: #EF233C;
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 0.875em;
    z-index: 2;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.job-description {
    margin-bottom: 25px;
}

.job-description p:first-of-type {
    margin-top: 0;
}

p + h3 {
    margin-top: 25px;
    font-size: 0.875em
}

/* Header and Footer
-------------------------*/
header, footer {
    background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
    url('../images/title_background.jpg') no-repeat fixed;
    background-size: cover;
}

/* header */
header {
    padding-top: 50px;
    position: relative;
}

header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
}

.profile-img {
    border-radius: 50%;
}

/* footer */
footer {
    text-align: center;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
    background-color: whitesmoke;
    color: blueviolet;
    border-radius: 25px;
    text-decoration: none;
}

i.fa, i.fab, i.fas {
    margin: 15px;
    size: 50px;
    font-size: 2em;
    text-shadow: 1px 1px 1px #ccc;
    vertical-align: top;

}

nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    animation-name: slideNavFromLeft;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in;
    z-index: 100;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    display: inline-block;
    font-weight: 700;
    animation-name: menuNavFromLeft;
    animation-delay: 1.11s;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes menuNavFromLeft {
    0% {
        transform: translateX(-1380%);
    }

    100% {
        transform: translateX(0%);
    }

}

.background {
    background-image: url('../images/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.copyright {
    display: inline-block;
    margin: 20px;
    text-shadow: 1px 1px 1px #ccc;
    vertical-align: top;
}

/* Work Experience
-------------------------*/
.work {
    background: #EDF2F4;
}

h3 ~ p {
    margin: 0;
}

/* Education
-------------------------*/
.education {
    background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
    url(https://images.unsplash.com/photo-1519429753079-3b0f0a95dea8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat fixed;
    background-size: cover;
}

/* Media Queries */
@media (min-width: 900px) {
    .col-narrow {
        width: 30%;
        float: left;
    }

    .col-wide {
        width: 70%;
        float: left;
        padding-left: 20px;
    }

    .profile-img {
        width: 30%;
    }
}

@media (max-width: 899px) {
    header {
        text-align: center;
    }

    .profile-img {
        width: 25%;
    }

    h1, h2 {
        font-family: 'Caveat', cursive;
        font-size: 50px;
    }

    .content-wrap {
        max-width: 950px;
        margin: 0 auto;
        padding: 60px 50px;
        overflow: hidden;
    }
}

@media (max-width: 660px) {
    .profile-img {
        width: 45%;
    }

    h1, h2 {
        font-family: 'Caveat', cursive;
        font-size: 35px;
    }

    nav a {
        text-decoration: none;
        text-transform: uppercase;
        padding: 5px 10px;
        display: inline-block;
        font-weight: 700;
    }

    .download {
        font-weight: 100;
    }
}

/* SNow*/
h1 {
    font-family: 'Corben', cursive;
    font-size: 6rem;
    color: white;
    letter-spacing: 0.1rem;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}

.hero {
/ / min-height: 100 vh;
    min-height: 30rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
}

@keyframes fall {

    100% {
        transform: translateY(0);
    }
}

@keyframes routateButton {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

.fa-arrow-alt-circle-down {
    animation: routateButton;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}





