/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

h3 {
    margin: 0;
}

a {
    color: #EF233C;
}

a:hover {
    text-decoration: none;
}

.btn {
    text-decoration: none;
    background: #EF233C;
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 0.875em;
    z-index: 2;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.job-description {
    margin-bottom: 25px;
}

.job-description p:first-of-type {
    margin-top: 0;
}

p + h3 {
    margin-top: 25px;
    font-size: 0.875em
}

/* Header and Footer
-------------------------*/
header {
    background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
    url('../images/title_background.jpg') no-repeat fixed;
    background-size: cover;
}

/* header */
header {
    padding-top: 50px;
    position: relative;
}

header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
}

p.top-title {
    color: whitesmoke;
}

.profile-img {
    border-radius: 50%;
}

/* footer */
footer {
    text-align: center;
}

.contact-info a {
    display: inline-block;
    /*background-color: whitesmoke;*/
    color: blueviolet;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    height: 15vh;
    alignment: center;
    margin-top: 4em;
}

i.fab, i.fas {
    margin: 5px;
    size: 50px;
    font-size: 2em;
    text-shadow: 1px 1px 1px #ccc;
    vertical-align: top;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: inherit;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.footer-row-top > span {
    display: block;
    alignment: left;
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;

}

.contact-info a i:hover {
    animation: contact-info-rotate 3s infinite 1.2s;
}

.contact-info {
    background-color: #e4e0e0;
    display: block;
}

.footer-row-top {

}

.background {
    background-size: cover;
    background-color: rgb(212, 209, 209);
    background-repeat: no-repeat;
}

.copyright-wrapper {
    background-size: cover;
    background-color: whitesmoke;
    background-repeat: no-repeat;
}

.copyright {
    display: block;
    float: left;
    margin: 20px;
    font-family: "Open Sans", sans-serif;
    size: 1em;
    text-shadow: 1px 1px 1px #ccc;
    vertical-align: top;
    Position: relative;
}

.rotate {
    animation: contact-info-rotate 2s 0.4s 5;
}

@keyframes contact-info-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(365deg);
    }
}

nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    animation-name: slideNavFromLeft;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in;
    z-index: 100;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    display: inline-block;
    font-weight: 700;
    animation-name: menuNavFromLeft;
    animation-delay: 1.11s;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes menuNavFromLeft {
    0% {
        transform: translateX(-1380%);
    }

    100% {
        transform: translateX(0%);
    }

}

/* Work Experience
-------------------------*/
.work {
    background: #EDF2F4;
}

h3 ~ p {
    margin: 0;
}

/* Education
-------------------------*/
.education {
    background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
    url('../images/night-sofia.jpg') no-repeat fixed;
    background-size: cover;
}

/* Media Queries */
@media (min-width: 900px) {
    .col-narrow {
        width: 30%;
        float: left;
    }

    .col-wide {
        width: 70%;
        float: left;
        padding-left: 20px;
    }

    .profile-img {
        width: 30%;
    }
}

@media (max-width: 899px) {
    header {
        text-align: center;
    }

    .profile-img {
        width: 20%;
        display: inline;
    }

    h1, h2 {
        font-family: 'Caveat', cursive;
        font-size: 50px;
    }

    .content-wrap {
        max-width: 950px;
        margin: 0 auto;
        padding: 60px 50px;
        overflow: hidden;
    }
}

@media (max-width: 660px) {
    .profile-img {
        width: 20%;
    }

    h1, h2 {
        font-family: 'Caveat', cursive;
        font-size: 35px;
    }

    nav a {
        text-decoration: none;
        text-transform: uppercase;
        padding: 5px 10px;
        display: inline-block;
        font-weight: 700;
    }

    .download {
        font-weight: 100;
    }
}




